.navbar {
  padding: 10px 0;

  .title {
    margin: 5px 0 0 5px;
  }
}

.column-selector-wrapper {
  position: relative;

  .column-selector-box {
    box-shadow: 0 0 10px lightgray;
    width: 150px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 1px;
    z-index: 1060;

    .checkbox {
      margin-bottom: 4px;
    }

    .column-selector-fixed-column {
      font-style: italic;
    }
  }
}

