/* You can add global styles to this file, and also import other style files */

$font-size-base: 0.8rem;
$line-height-base: 1;

@import "~bootstrap/scss/bootstrap";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

.ngx-datatable {
  color: red;
}
